<!DOCTYPE html>
<html lang="{{ site.lang }}">
{%- include site_head.html -%}

<body class="d-flex flex-column">
  <main class="d-flex flex-column flex-grow-1 flex-shrink-0">
    <header role="navigation" class="navbar navbar-dark">
      {%- include site_navbar.html -%}
    </header>
    <div class="site-content flex-grow-1">
      {{ content }}
    </div>
  </main>
  <footer class="flex-grow-0 flex-shrink-0 py-3 bg-light border-top text-muted">
    {%- include site_footer.html -%}
  </footer>
  {%- include modal_thanks.html -%}
</body>

</html>